# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборка
dist/
build/

# Кэш
.cache/
.parcel-cache/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db