$bg-color: #000;
$orange: #ff9501;
$grey: #a6a6a6;
$white: #fdfdfd;
$dark-bg: #333;
$light-bg: #f0f0f0;
$dark-thumb: #333;
$light-thumb: white;
$gradient: linear-gradient(90deg, #ffd700, #ff9501);
$switch-width: 60px;
$switch-height: 30px;
$thumb-size: 24px;
$icon-size: 18px;
$transition: all 0.3s ease;
